## .NET Core
bin/
obj/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dll
*.exe
*.pdb
*.cache
*.log

## Environment variables
.env
appsettings.*.json
appsettings.json
appsettings.Example.json

## IDE files
.idea/
.vscode/